.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}